* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* Header  */
.header {
    width: 100%;
    min-height: 425px;
    padding-top: 46px;
    padding-bottom: 85px;
    padding-right: 43px;
    padding-left:46px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    background-color: #ae121d;
    background-image: url('../img/kickvard_leadership_logo.png'), url('../img/kickvard-blue.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 43px top, 66% bottom;
}
.header__title {
    display: flex;
    justify-content: flex-end;
    margin-bottom:90px;

}
    .header__titleH1, .header__titleInfo {
        text-transform: uppercase;
    }
    .header__titleH1 {
        font-size: 38.5px;
        font-weight: bold;
        text-shadow: -1.6px 2.5px 3px rgba(0, 0, 0, 0.5);

    }
    .header__titleInfo {
        font-size: 19px;
        letter-spacing: 1.9px;
        text-shadow: none;
        font-weight: normal;

        align-self: flex-start;
    }
.header__desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 600;
}
.header__line {
    width: 113px;
    height: 2px;
    position: relative;
    left: -46px;
    background-color: #fff;
    margin: 16px 0;
}
.afterHeader {
    display: block;
    width: 95%;
    margin-top: -45px;
    margin-left:15px;
    margin-right: 15px;
}

/* End of Header*/

/* Features */

.features {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

.features__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:75px;
}

.featuresItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.featuresItem {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featuresItem__Img {
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px #c4c4c4;
}
.featuresItem__text {
    width: 225px;
    font-size: 25px;
    line-height: 1.7;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
.featuresItem:nth-child(odd) {
    margin-right:110px;
}
.featuresItem:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 102px;
    right: -64px;
    width: 13px;
    height: 13px;
    border: solid 2px #c4c4c4;
    border-radius: 50%;
    background-color: #c4c4c4;
}
.featuresItem:nth-child(odd)::after {
    content: '';
    position: absolute;
    top: 97px;
    right: -40px;
    width: 25px;
    height: 25px;
    border: solid 2px #c4c4c4;
    border-radius: 50%;
    background-color: #fff;
}
.featuresItem:nth-child(even)::after {
    content: '';
    position: absolute;
    top: 97px;
    left: -40px;
    width: 25px;
    height: 25px;
    border: solid 2px #c4c4c4;
    border-radius: 50%;
    background-color: #fff;
}

/* End of Features*/

/* Teachers */
.teacher {
    background-color: #ae121d;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    padding-bottom:40px;
}
.teacher__title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 31.5px;
    font-weight: bold;
    padding-top:40px;
    padding-bottom: 29px;
}
.teacher__item {
    display: flex;
    margin-bottom:20px;
    background-color: #fff;
}
.teacher__item:last-child {
    margin-bottom:0;
}
.teacher__itemInfo {
    display: flex;
    align-items: center;
    background-color: #fff;

    padding-left:50px;
}
.teacher__itemInfoContent {
    padding-top:10px;
    padding-bottom:15px;
}
.teacher__name {
    width: 240px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom: 2px solid #ae121d;

    color: #ae121d;
    font-size: 22px;
    font-weight: normal;
}

.teacher__desc {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}
.teacher__itemPhoto {
    display: block;
    max-width: 359px;
    width: 45%;
    align-self: flex-start;
}

/* End of Teachers */

/* Media */
@media (max-width: 730px) {
    .container {
        border-left: none;
        border-right: none;
    }
    .header__titleH1 {
       font-size: 31px;
    }
}
@media (max-width: 645px) {
    .header {
        background-image: url('../img/kickvard_leadership_logo.png'), url('../img/kickvard-blue.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 43px top, 78% bottom;
    }
    .header__titleH1 {
        font-size: 28px;
    }

}
@media (max-width: 610px) {
    .header__titleH1 {
        font-size: 4vw;
    }

    .featuresItem:nth-child(odd) {
        margin-right:50px;
    }
    .featuresItem__Img {
        width: 200px;
        height:200px;
    }
    .featuresItem:nth-child(odd)::before {
        top: 102px;
        right: -32px;
        width: 10px;
        height: 10px;
    }
    .featuresItem:nth-child(odd)::after {
        top: 97px;
        right: -14px;
        width: 20px;
        height: 20px;
    }
    .featuresItem:nth-child(even)::after {
        top: 97px;
        left: -14px;
        width: 20px;
        height: 20px;
    }
    .featuresItem__text {
        font-size: 22px;
    }
    .teacher__itemInfo {
        padding-left:24px;
    }
}

@media (max-width: 510px) {
    .header {
        background-image: url('../img/kickvard_leadership_logo.png'), url('../img/kickvard-blue.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 43px top, 87% bottom;

        padding-right:17px;
    }
    .afterHeader {
        margin-top:-29px;
    }
    .featuresItem:nth-child(odd) {
        margin-right:28px;
    }
    .featuresItem__Img {
        width: 150px;
        height:150px;
    }
    .featuresItem__Img img {
        width: 65%;
    }
    .featuresItem__text {
        width: 180px;
    }
    .featuresItem:nth-child(odd)::before {
        top: 73px;
        right: -19px;
        width: 6px;
        height: 6px;
    }
    .featuresItem:nth-child(odd)::after {
        top: 70px;
        right: -5px;
        width: 13px;
        height: 13px;
    }
    .featuresItem:nth-child(even)::after {
        top: 70px;
        left: -5px;
        width: 13px;
        height: 13px;
    }
    .featuresItem__text {
        font-size: 18px;
    }
    .teacher__itemInfo {
        padding-left:16px;
    }
}
@media (max-width: 470px) {
    .header {
        background-image: url('../img/kickvard_leadership_logo.png'), url('../img/kickvard-blue.png');
        background-repeat: no-repeat, no-repeat;
        background-position: center top, 95% bottom;
        background-size: 189px, 157px;
        padding-left: 15px;
    }
    .header__title {
        justify-content: center;
        margin-top: 150px;
        margin-bottom:25px;
    }
    .header__titleH1 {
        font-size: 24px;
    }
    .teacher__item {
        flex-direction: column;
        align-items: center;
    }
    .teacher__itemPhoto {
        width: 100%;
        max-width: 100%;
        align-self: inherit;
    }
}
@media (max-width: 389px) {
    .featuresItem:nth-child(odd) {
        margin-right:0;
    }
    .featuresItem:nth-child(odd)::before {
        display: none;
    }
    .featuresItem:nth-child(odd)::after {
        display: none;
    }
    .featuresItem:nth-child(even)::after {
        display: none;
    }
}