
.goods {
    overflow: hidden;
    font-family: Helvetica;
}

.goods__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.goods__bg {
    background: url(/shop_m/img/components-bg.jpg) no-repeat;
    background-size: cover!important;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.goods__bg__properties {
    background: url(/shop_m/img/bh-bg.png) no-repeat;
    background-size: cover!important;
    padding: 60px 30px;
}

.goods__bg__properties .product__composition{
    color: #fff;
    margin: 0 auto;
    width: 600px;
    border: 1px solid #fff;
    border-collapse: collapse;
}

.goods__bg__properties .product__composition tr td{
    border: 1px solid white;
    padding: 26px 32px;
    font-size: 18px;
}

.goods__bg_d {
    background: url(/img/products/d-bg.jpg) no-repeat;
}



.goods__bg_p {
    background: url(/img/products/p-bg.jpg) no-repeat;
}



.goods-mb_m-gel {
    display: none;
}


.goods__pink-block {
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.goods__n-block {
    background-color: #209A4C;
}

.goods__content {
    max-width: 570px;
}

.goods__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.goods__content div:not(:first-child) {
    margin: 20px 0;
}

.goods__logo {
    width: 198px;
}

.goods__img-icons {
    width: 347px;
}

.goods__header, .components__header {
    font-size: 1.6em;
    font-weight: 600;
    color: #DF2846;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.goods__properties {
    color: #fff;
    position: relative;
    width: 600px;
}

.goods__composition-block {
    margin: 15px 0;
}

.goods__composition-block p, .goods__composition-block p {
    line-height: 20px;
}

.color-red{
    color: #DF2846;
}

.goods__red{
    font-size: 18px;
    font-weight: 600;
}

.goods__properties .goods__header, .goods__composition, .goods__composition .goods__header {
    color: #fff!important;
}


.goods__list {
    padding: 0;
}

.goods__list li{
    list-style-type: disc;
    margin: 12px 0;
}

.goods__composition {
    width: 622px;
}

.goods__letter {
    position: absolute;
    bottom: 40%;
    left: 0;
    z-index: 2;
}

.goods__letter_0 {
    bottom: 0;
}
.goods__bank {
    position: absolute;
    top: -50%;
    left: 60px;
    z-index: 5;
}

.goods__leaf {
    position: absolute;
    left: 0;
    bottom: 0;
}

.goods__leaf_jn {
    left: 0;
}

.goods__leaf_m {
    left: 0;
    transform: scale(-1, 1);
}

.goods-mb {
    display: none;
}

.components {
    background: url(/shop_m/img/components-bg.jpg) no-repeat;
    background-size: cover!important;
}

.components__wrapper {
    padding: 60px 110px;
}

.components__grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.instruction {
    background-color: #209A4C;
    padding: 60px 110px;
    color: #fff;
}

.instruction .goods__bold{
    font-size: 16px;
    color: #fff!important;

}
.goods__bold {
    font-weight: 600;
    line-height: 20px;
}


.goods__description_none {
    display: none;
}

.goods_multicase .goods__properties div:first-child{
    margin-right: 40px;
}


.goods_multicase  .goods__bg.goods__bg_mb{
    display: flex;
}



.products__multicase img{
    width: 100%;
    position: relative;
}

.products__multicase  .antiox__advantages-item_full {
    margin: 0 20px;
}

.antiox__advantages-item a {
    display: block;
}

.products__multicase__content {
    position: absolute;
    top: -190px;
    left: 0;
    z-index: 20;
}

.products__multicase__content .antiox__advantages {
    color: #fff;
}

.properties-multicase {
    padding: 60px;
    color: #fff;
}

.properties-multicase__content {
    display: flex;
    justify-content: space-between;
}

.properties-multicase__elem {
   width: 350px;
}

.properties-multicase__elem:not(:first-child) {
    margin: 0 15px;
}

.properties-multicase .goods__header {
    padding-bottom: 30px;
}

.products__multicase a{
    position: relative;
}

.goods__bg__properties h2, .goods__bg__properties h3{
    color: #fff;
    text-align: center;
}

.goods__bg__properties h2{
    font-size: 1.6em;
    font-weight: 600;
    margin: 6px;
}

.goods__bg__properties h3{
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: normal;
}

.download-ser {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

.download-ser a{
    width: 205px;
    color: #252525;
    border: 2px solid #252525;
    font-weight: 600;
}

.download-ser a:hover{
    background-color: #252525;
    color: #fff;
    border: 2px solid #252525;
}

.multicase-quantity {
    position: absolute;
    bottom: 0;
    left: -19px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    background: rgba(66, 66, 66, 0.4);
    font-weight: 600;
    text-align: center;
    line-height: 46px;
}

@media (max-width: 1150px) {
    .goods__bg {
        padding: 60px 20px;
    }

    .goods__pink-block {
        padding: 60px 20px 60px 0;
    }

    .goods__letter {
        width: 36%;
    }

    .goods__bank {
        width: 32%;
        left: 28px;
    }

}

@media (max-width: 1024px) {

    .goods__bg__properties .product__composition {
        width: 100%;
    }

    .goods__leaf {
        width: 26%;
    }
    .goods__letter {
        width: 32%;
    }
    .goods__bank {
        width: 29%;
        left: 28px;
    }

    .products__multicase__content {
        top: -100px;
    }
}

@media (max-width: 900px) {

    .goods_multicase .goods__bg.goods__bg_mb {
        flex-direction: column;
        align-items: center;
    }

    .goods_multicase .goods__bg.goods__bg_mb img{
        width: 25%!important;
    }

    .goods__properties {
        width: 100%;
    }

    .goods__bg_mb {
        height: 400px;
        z-index: 10;
    }

    .goods__leaf {
        width: 32%;
        right: -79px;
        left: auto;
        bottom: auto;
        top: -54px;
    }

    .goods__leaf_m, .goods__leaf_sv {
        transform: scale(1, 1);
    }

    .goods__leaf_jn {
        transform: scale(-1, 1)
    }

    .goods__letter, .goods__bank, .goods__content .goods__description {
        display: none;
    }

    .goods__description_none, .goods__description_none .goods__header{
        display: block;
        color: #fff;
    }


    .goods_multicase .goods__description {
        display: block;
    }

    .goods_multicase  .goods__bg_mb {
        height: auto;
    }

    .goods__bg, .goods__pink-block, .components__wrapper, .instruction {
        justify-content: center;
        padding: 60px;
    }

    .goods__content, .goods__composition {
        max-width: 100%;
    }

    .goods__properties {
        display: none;
    }

    .goods-mb, .goods-mb .goods__properties, .goods-mb_m-gel {
        display: block;
    }

    .goods-mb_m-gel {
        width: 200px;
    }

    .goods__pink-block {
        flex-direction: column;
    }

    .goods__composition {
        padding-top: 30px;
    }

    .goods__goods__bank-mb {
        display: block;
        max-width: 500px;
        text-align: center;
        margin: 0 auto!important;
        padding: 60px 0 20px 0;
    }

    .goods__goods__bank-mb img{
        width: 100%;
    }

    .goods__properties {
        padding-top: 0;
    }

    .goods.goods_multicase .goods__bg_multicase {
        padding: 30px;
    }

    .products__multicase__content {
        position: static;
    }

    .products__multicase {
        min-height: auto;
    }

    .products__multicase {
        padding: 40px 30px;
    }

    .products__multicase .antiox__advantages {
        padding: 0;
    }
    .products__multicase .antiox__advantages-item_full {
        margin: 0 6px;
    }
}

@media (max-width: 812px) {

    .goods__bg__properties .product__composition{
        width: 100%;
    }

    .products__multicase {
        background: url(/img/products/red-bg.jpg) no-repeat;
    }
}


@media (max-width: 700px) {

    .goods__leaf {
        width: 50%;
        top: -105px;
    }

    .goods__icons {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        width: 350px;
        margin: 0 auto;
    }

    .goods__icons img:first-child {
        margin-bottom: 15px;
    }

    .components__grid-2-col {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .properties-multicase__content {
        flex-direction: column;
    }

    .properties-multicase__elem {
        width: 100%;
    }

    .properties-multicase__elem:not(:first-child) {
        margin: 7px 0 ;
    }

    .properties-multicase {
        padding: 40px 30px;
    }
}


@media (max-width: 414px) {
    .goods__goods__bank-mb {
        padding: 0;
    }

    .goods__bg, .goods__pink-block, .components__wrapper, .instruction, .goods__bg__properties {
        padding: 30px;
    }

    .goods-mb_m-gel {
        width: 150px;
    }

    .goods__bg__properties h2 {
        font-size: 1.4em;
    }

    .goods__bg__properties h3 {
        font-size: 1.1em;
    }

    .goods_multicase .goods__bg.goods__bg_mb img {
        width: 44%!important;
    }

    .goods__bg_mb {
        height: auto;
    }

    .goods__img-icons {
        width: 315px;
    }

    .goods__header {
        font-size: 1.4em;
    }

    .goods__icons {
        width: auto;
    }

    .goods__leaf {
        width: 54%;
        top: -82px;
        right: -48px;
    }

    .products__multicase .antiox__advantages-item{
        max-width: 65%;
    }
}

@media (max-width: 375px) {
    .goods__bg__properties .product__composition tr td {
        padding: 8px;
    }
}

@media (max-width: 320px) {


}