# zend studio for eclipse project files
.buildpath
.project
.settings

# composer vendor dir
/vendor

/runtime

# composer itself is not needed
composer.phar
#
runtime/logs/*
web/assets/*
web/storage/*
web/front/img-main/*
web/front/img-main-de/*
web/front/img-main-en/*
web/front/img-main-vi/*


