.footer
	padding: 32px 0
	@media (max-width: $bpLarge)
		padding: 16px 0
		text-align: center
		.row-nav
			display: inline-block
			vertical-align: top
.pay-footer
	background-color: $colorBlue
	border-radius: 32px
	height: 200px
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-evenly
	margin-top: 50px
	&__sys
		width: 200px
		img
			width: 50%
