.footer
	padding: 32px 0
	@media (max-width: $bpLarge)
		padding: 16px 0
		text-align: center
	.row-nav, .footer-left, .footer-text
		display: flex
	.row-nav
		justify-content: space-around
	.footer-left
		align-items: center
		justify-content: space-around
	.footer-text
		align-items: center
		justify-content: space-between
		color: #7D85A4
		font-size: 12px
		font-style: normal
		font-weight: 400
		line-height: normal
		@media (max-width : $bpExtraLarge)
			display: none

.pay-footer
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-evenly
	width: 400px
	&__sys
		width: 52px
		img
			width: 100%
	&__paypal
		width: 88px