.white-1
  scroll-behavior: smooth
  padding-top: 90px
  //max-width: 1440px
  //margin:
  //  right: auto
  //  left: auto
  box-sizing: border-box
  display: flex
  justify-content: flex-start //space-between
  @media (max-width: $bpLarge)
    display: block
  &__h1
    list-style-position: outside
    font-size: 100px
    line-height: 100px
    letter-spacing: 5px
    text-transform: uppercase
    margin-top: 30px
    font-weight: 400
    margin-left: 24px
    span
      color: $colorBlue
  &__left-text
    font-size: 22px
    line-height: normal
    padding-left: 45% //50px
    @media (max-width : $bpLarge)
      padding-left: 0
  &__left
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    padding-top: 43px
    @media (max-width : $bpLarge)
      padding-top: 0
  &__right
    //margin-left: 24px //160px
    @media (max-width: $bpLarge)
      margin-left: 0
  &__columns
    padding-top: 60px
    display: flex
    justify-content: space-evenly
    @media (max-width: $bpMedium)
      display: block
  &__h2
    font-size: 40px
    font-weight: 400
    line-height: normal
  &__text
    font-size: 16px
    line-height: normal
    color: #7D85A4
    padding-top: 20px

  &__btn
    display: inline-block
    vertical-align: top
    padding: 13px 60px
    font:
      size: 16px
      weight: 300
    line-height: 20px
    color: $colorWhite
    border: 1px solid $colorBlack
      radius: 24px
    text-decoration: none
    cursor: pointer
    transition: opacity .25s
    background-color: $colorBlue
    outline: none
    margin-top: 68px
    margin-left: 40% //45% //20%
    a
      color: $colorWhite
      text-decoration: none
    @media (max-width: $bpExtraExtraLarge)
      font-size: 14px
      line-height: 18px
      padding: 8px 25px
      border-radius: 20px
    @media (max-width: $bpMedium)
      font-size: 12px
      line-height: 16px
      padding: 8px 20px
      border-radius: 20px
    @media (hover: hover)
      &:hover
        opacity: .8
    &.inactive
      cursor: default
      @media (hover: hover)
        &:hover
          opacity: 1
    @media (max-width : $bpLarge)
      margin-top: 0
      margin-left: 0


.white-2
  background-color: $colorWhite
  &__h1
    color: $colorBlack
    font-weight: 700
    list-style-position: outside
    font-size: 50px
    line-height: 100px
    letter-spacing: 2.5px
    margin-top: 70px
    padding-top: 70px
  &__price
    font-size: 100px
    font-weight: 400
    padding-bottom: 30px
    margin:
      top: 31px
      left: 32% //26%
      bottom: 34px
  &__detail
    display: flex
    flex-direction: row
    background-color: #F8F8F8
    padding:
      top: 60px
      bottom: 75px
    @media (max-width: $bpSmall)
      display: block
  &__details
    color: $colorBlack
    //border-bottom: 1px solid lightgrey
    //padding: 46px 70px 51px
    padding: 46px 190px 51px
    @media (max-width : $bpLarge)
      padding: 46px 70px 51px
  &__details[open]
    padding-bottom: 0
  &__pack-include
    color: #7D85A4
    font-size: 40px
    line-height: normal
    font-weight: 400
    padding-left: 0 !important

  &__summary
    list-style-position: outside
    cursor: pointer
    color: $colorBlack
    line-height: normal
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 0 20px
    @media (max-width : $bpSmall)
      display: block
    &_text
      font-weight: 400
      font-size: 22px
      line-height: normal
      @media (max-width : $bpLarge)
        margin-left: 20px
    &_h1
      font-weight: 400
      font-size: 40px
      cursor: pointer
    &_plus
      @media (max-width : $bpSmall)
        display: none
  //&__summary::marker
  //  content: "+" !important
  //  font-size: 48px
  //  font-weight: normal
  //  text-align: center
  //  color: $colorBlack
  //&__details[open] summary::marker
  //  content: "–"
  &__sub-list
    list-style-type: none
    padding-left: 0 !important //50px

.dop
  &__detail
    justify-content: flex-start
  &__summary
    justify-content: space-between
    margin-left: 8%

.white-3
  background-repeat: no-repeat
  padding-bottom: 80px
  &__wrap
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 80px
  &__text
    font-size: 22px
    font-weight: 400
    text-align: center
  &__header
    font-size: 50px
    font-weight: 700
    letter-spacing: 2.5px
    text-transform: uppercase
    padding-top: 24px
    text-align: center
    margin-top: 24px
    line-height: normal
  &__form
    padding-top: 80px

  &__btn
    vertical-align: top
    padding: 13px 40px
    font:
      size: 16px
      weight: 300
    line-height: 20px
    color: $colorWhite
    border: 1px solid $colorBlack
      radius: 24px
    text-decoration: none
    cursor: pointer
    transition: opacity .25s
    background-color: $colorBlue
    outline: none
    @media (max-width: $bpExtraExtraLarge)
      font-size: 14px
      line-height: 18px
      padding: 8px 25px
      border-radius: 20px
    @media (max-width: $bpMedium)
      font-size: 12px
      line-height: 16px
      padding: 8px 20px
      border-radius: 20px
    @media (hover: hover)
      &:hover
        opacity: .8
    &.inactive
      cursor: default
      @media (hover: hover)
        &:hover
          opacity: 1

  &__send
    display: block
    background-color: #5C43F4
    color: #fff
    border-radius: 40px
    text-transform: uppercase
    width: 277px
    height: 50px
    text-align: center
    margin: 0 auto
    margin-top: 80px
    border: none!important
    position: relative
    z-index: 1000
    cursor: pointer

.input
  background: transparent
  border: none
  border-bottom: 1px solid #7E7D86
  box-shadow: none!important
  padding-bottom: 16px
  font-size: 16px
  color: #666666
  z-index: 1000
  position: relative
  width: 44%
  @media (max-width: $bpSmall)
    font-size: unset
    width: unset

.input:first-child
  margin-right: 66px

.input-text
  background: transparent
  border: none
  border-bottom: 1px solid #7E7D86
  box-shadow: none!important
  padding-bottom: 16px
  font-size: 16px
  color: #666666
  z-index: 1000
  position: relative
  width: 94%
  padding-top: 86px

.control-icon
  fill: rebeccapurple
  transition: .3s ease
  pointer-events: none

.control-icon-close
  display: none

details[open] .control-icon-close
  display: initial
  transition: .3s ease

details[open] .control-icon-expand
  display: none

hr
  width: 80%