body {
    font-family: Lato-Regular;
    overflow-x: hidden;
}
.header {
    background-color: #000;
    position: relative;
}
.header .wrapper {
    position: relative;
    padding-top: 12px;
}

.blue {
    color: #5C43F4;
}

.wrapper-dotted {
    position: relative;

}

.lang {
    position: relative;
    cursor: pointer;
}

.lang__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
.lang__list li {
	display: block !important;
	margin: 12px 0 0 0 !important;
}

.lang a:active ~ .lang__list,
.lang a:focus ~ .lang__list,
.lang__list:hover {
    display: block;
}

.lang__list div{
    margin-top: 10px;
}


.dotted {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 0;
}

.logo img{
    width: 32px;
}

.enter {
    border: 1px solid;
    border-radius: 30px;
    padding: 6px 30px;
    text-align: center;
    z-index: 1000;
}

.circle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    font-family: Lato-Regular;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    min-height: 870px;
    z-index: 10;
    margin-top: -52px;
}

.header__logo {
    font-size: 52px;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: Lato-Black;
    z-index: 1000;
}

.header__list {
    display: inline;
    z-index: 1000;
}


.footer__list li {
    display: inline;
    margin-left: 33px;
    color: #fff;
    text-decoration: none;
    z-index: 10;
}

.footer__list li a{
    color: #fff;
    text-decoration: none;
}

.footer__list:last-child {
    margin-left: 0;
}

.header__list li {
    display: inline;
    margin-left: 50px;
    font-size: 16px;
    font-family: Lato-Semibold;
    color: #fff;
    text-decoration: none;
}

.header__list li a{
    color: #fff;
    text-decoration: none;
    z-index: 1000;
}

.services {
    color: #fff;
}

.wrapper_block {
    padding: 150px 0;
}

.wrapper_narek {
    padding: 150px 0 0 0;
}

.wrapper_footer {
    padding: 36px 0;
}

.footer {
    background-color: #000;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.services__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.services__items {
    display: flex;
}

.services__items_end {
    width: 100%;
    justify-content: flex-end;
}

.services__item {
    width: 293px;

}

.services__bull li{
    list-style-type: disc;
    line-height: 19px;
}

.services__text {
    font-size: 16px;
}

.services__item:first-child {
    margin-right: 65px;
}

.services__item-header {
    font-family: Lato-Semibold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
}

.services__header {
    font-size: 50px;
    line-height: 60px;
    font-family: Lato-Semibold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services__block:first-child {
    margin-bottom: 80px;
}

.services {
    background-image: url(../img/ser-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.services.services_advantages {
    background-image: url(../img/advantages.jpg);
}

.services_advantages .services__block{
    align-items: flex-start;
}


.services_advantages .services__item{
    margin-right: 30px;
}

.advantages {
    background-image: url(../img/advantages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages {
    color: #fff;
}

.company__header-block {
  display: flex;
}

.company__header {
    max-width: 600px;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
}

.company__subtitle {
    font-size: 16px;
    max-width: 460px;
    line-height: 19px;
    color: #828282;
}

.rhombus {
    position: relative;
    margin-left: 210px;
}
.rhombus img {
    display: block;
    width: 100%;
    opacity: 0;
}

.company__items {
    margin-top: 100px;
}

.company__elem {
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    width: 359px;
}

.company__elem-header {
    font-size: 68px;
    line-height: 84px;
    margin-bottom: 14px;
    color: #5C43F4;
    font-family: Lato-Black;
}

.company__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.company__item:first-child {
    margin-bottom: 70px;
}

.company__item:last-child {
    margin-top: 120px;
}

.company__description {
    max-width: 750px;
    font-size: 40px;
    line-height: 48px;
    margin-left: 143px;
}

.company__description-small {
    font-size: 16px;
    line-height: 19px;
    margin-top: 44px;
    color: #828282;
    width: 438px;
}

.company__item_last {
    justify-content: flex-start;
}

.company__hr {
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: #808080;*/
    /*transform: rotate(990deg);*/
}

.narek {
    background: linear-gradient(90deg, #F6F6F6, #F8F8F8);
}

.narek__header {
    font-family: Lato-Black;
    text-transform: uppercase;
}

.narek__header {
    font-size: 50px;
    line-height: 68px;
}

 .narek__subtitle {
    font-size: 40px;
}

.narek__img {
    width: 400px;
}

.narek__quote {
    margin-top: 60px;
}

.narek__text {
    font-size: 20px;
    line-height: 30px;
    font-family: Lato-Italic;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 220px;
}

.narek__flex {
    display: flex;
}

.projects__header {
    font-size: 50px;
    line-height: 60px;
    font-family: Lato-Black;
    text-transform: uppercase;
}

.projects__img {
    width: 100%;
    margin: 80px 0 70px 0;
}

.gallery-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.gallery-header {
	display: inline-block;
	vertical-align: top;
	color: #000000;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 10px;
}

.gallery__text {
    max-width: 400px;
    margin-top: 120px;
}

.gallery-subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.gallery-description {
    font-size: 16px;
    line-height: 19px;
    margin-right: 28px;
}

.gallery-btn {
	display: inline-block;
	vertical-align: top;
	padding: 16px 58px;
	color: #5C43F4;
	font-size: 24px;
	line-height: 28px;
	margin-top: 100px;
	border: 1px solid #5C43F4;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	text-decoration: none;
	transition: opacity .25s;
}
.gallery-btn:hover {
	opacity: .8;
}
.gallery-btn.inactive {
	color: #999;
	border-color: #999;
}


.gallery {
    margin-top: 90px;
}

.gallery__img {
    width: 280px;
    padding: 2%;
}
.gallery__img_5 {
	width: 500px;
	margin-left: -40px;
}

.gallery__img img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.gallery__img:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.laptop {
    width: 460px;
}

.advantages__table {
    display: flex;
    flex-direction: row;
    margin-left: 330px;
    align-items: flex-start;
}

.advantages__item {
    font-family: Lato-Black;
    font-size: 24px;
    line-height: 29px;
    width: 308px;
    height: 231px;
    padding: 50px 24px;
    box-sizing: border-box;
}

.contact {
    background-color: #000;
}

.contact__header {
    font-size: 50px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.form {
    padding-top: 150px;
    margin: 0 auto;
    max-width: 700px;
    z-index: 1000;
}

.input, .input-text {
    background: transparent;
    border: none;
    border-bottom: 1px solid #7E7D86;
    box-shadow: none!important;
    padding-bottom: 16px;
    font-size: 16px;
    color: #666666;
    z-index: 1000;
    position: relative;
}

.input{
    width: 44%;
    z-index: 1000;
}

.input:first-child {
    margin-right: 66px;
}


input:first-child {
    margin-right: 66px;
}

.input-text {
    margin-top: 56px;
    width: 99%;
    z-index: 1000;
}

input:focus-visible {
    outline: none!important;
}
input:focus {
    outline: none!important;
}

.send {
    display: block;
    background-color: #5C43F4;
    color: #fff;
    border-radius: 40px;
    text-transform: uppercase;
    width: 277px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    border: none!important;
    position: relative;
    z-index: 1000;
    cursor: pointer;
}

.owl-item {
    opacity: .3;
}
.owl-item.active {
    opacity: 1;
}


.owl-dots{
    margin-top: 30px!important;
}
.owl-nav span{
   display: none;
}

.owl-prev {
    display: block;
    background-image: url(../img/arrow.png)!important;
    background-color: none!important;
    background-repeat: none !important;
    background-size: cover!important;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    bottom: 50%;
}

.owl-next {
    display: block;
    background-image: url(../img/arrow.png)!important;
    background-color: none!important;
    background-repeat: none !important;
    background-size: cover!important;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 180px;
    bottom: 50%;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: #fff!important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #5C43F4;
}

.owl-theme .owl-nav .disabled {
    opacity: .3!important;
}



@media screen and (max-width: 1366px) {
    .header__logo {
        font-size: 40px;
    }

    .header__nav {
        min-height: 720px;
    }
    .services__header, .narek__header, .projects__header, .contact__header {
        font-size: 40px;
        line-height: 50px;
    }
    .narek__subtitle {
        font-size: 30px;
    }
    .services__item-header {
        font-family: Lato-Semibold;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .gallery-header {
        font-size: 30px;
        line-height: 38px;
    }
    .gallery__img {
        width: 240px;
    }
	.gallery__img_5 {
		width: 440px;
	}
	.gallery-btn {
		padding: 12px 48px;
		border-radius: 25px;
		font-size: 20px;
		line-height: 24px;
		margin-top: 80px;
	}
    .laptop {
        width: 400px;
    }
    .narek__img {
        width: 360px;
    }
    .company__description {
        max-width: 550px;
        font-size: 30px;
        line-height: 38px;
        margin-left: 140px;
    }
    .company__elem-header {
        font-size: 40px;
        line-height: 40px;
    }
    .company__header {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    .wrapper {
        max-width: 100%!important;
        padding: 120px 40px;
    }
    .wrapper_narek {
        padding: 120px 40px 0 40px;
    }
    .dotted {
        left: 60px;
        display: none;
    }
    .wrapper_footer {
        padding: 40px;
    }
    .header__nav {
        min-height: 600px;
    }
}

@media screen and (max-width: 1350px) {
    .services__block {
        flex-direction: column;
        align-items: flex-start;
    }
    .services__header, .narek__header, .projects__header, .contact__header {
        font-size: 30px;
        line-height: 40px;
    }
    .services__items {
        margin-top: 30px;
    }
    .services__block:first-child {
         margin-bottom: 0;
    }

	.gallery__img_5 {
		width: 400px;
	}

    .company__item.company__item_last company__description {
        order: 1;
    }
    .company__item.company__item_last .company__img{
        order: 2;
        margin-left: 30px;
    }
    .company__description {
        margin-left: 0;
    }
    .services__items_end {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1200px) {
    .header__nav {
        min-height: 450px;
    }
    .header__nav {
        flex-direction: column;
        justify-content: center;
        min-height: 230px;
    }
    .header__list {
        margin-top: 30px;
    }
	.gallery__img_5 {
		width: 300px;
	}
}

@media screen and (max-width: 1150px) {
    .header__list li {
        margin-left: 37px;
    }

    .header__logo {
        font-size: 30px;
    }
    .narek__flex {
        flex-direction: column;

    }
    .header__nav {
        flex-direction: column;
        justify-content: center;
        min-height: 230px;
    }

    .company__header-block {
        flex-direction: column;
    }
    .company__items {
        margin-top: 100px;
        flex-wrap: wrap;
    }
    .rhombus {
        margin-left: 0;
        width: 200px;
        margin-top: 30px;
    }
    .company__item {
        justify-content: flex-start;
        align-items: center;
    }
    .narek__text {
        max-width: 100%;
    }
    .narek__img {
        margin: 0 auto;
    }

}

@media screen and (max-width: 950px) {
    .company__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .company__elem {
        margin-bottom: 30px;
    }
    .company__item:first-child {
        margin-bottom: 0;
    }
    .company__description {
        max-width: 100%;
    }
    .company__img {
       display: none;
    }
    .company__description-small {
        font-size: 16px;
        margin-top: 14px;
        width: 100%;
    }
    .services__items {
        flex-direction: column;
    }
    .services__items {
        margin-top: 0;
    }
    .services__header {
        margin-bottom: 30px;
    }

}


@media screen and (max-width: 812px) {
    .wrapper {
        padding: 40px 30px;
    }
    .footer__logo img{
        width: 30px;
    }
    .services__header, .narek__header, .projects__header, .contact__header {
        font-size: 26px;
        line-height: 34px;
    }
    .company__description {
        font-size: 20px;
        line-height: 28px;
    }
    .narek__quote {
        margin-top: 40px;
        width: 40px;
    }
    .narek__img {
        width: 270px;
    }
    .wrapper_narek {
        padding: 40px 30px 0 30px;
    }
    input {
        width: 100% !important;
        margin-top: 40px;
    }
    .input-text {
        margin-top: 40px;
        width: 100%;
    }
    .form {
        padding-top: 40px;
    }
    input:first-child {
         margin-right: 0;
    }
    .send {
        margin-top: 50px;
    }
    .company__item:last-child {
        margin-top: 30px;
    }
    .rhombus {
        display: none;
    }
    .company__items {
        margin-top: 40px;
    }

    .services_advantages .services__item {
        margin-right: 0!important;
    }

    .company__elem {
        width: 100%;
    }
    .header__nav {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    .header__list {
        display: flex;
        flex-wrap: wrap;
    }

    .header__list li {
        margin-left: 20px;
    }

    .header__list li:first-child {
        margin-left: 0;
    }

    .header__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__list li {
        margin-left: 20px;
        height: 52px;
    }
}

@media screen and (max-width: 560px) {

    .gallery-item {
        align-items: center;
        flex-direction: column;
    }

    .gallery {
        margin-top: 10px;
    }

    .gallery__img {
        width: 240px;
        margin-top: 30px;
    }
	.gallery__img_5 {
		width: 240px;
		margin-left: -20px;
	}
	.gallery-btn {
		padding: 12px 40px;
		border-radius: 38px;
		font-size: 18px;
		line-height: 24px;
		margin-top: 32px;
	}

    .header__logo {
        font-size: 30px;
    }
    .header__list li {
        margin-left: 30px;
    }
    .narek__text {
        margin-right: 0;
        margin-left: 0;
    }
    .narek__img {
        margin-top: 30px;
    }

    .footer__list li {
        margin-left: 18px;
    }
    .company__elem-header {
        font-size: 30px;
        line-height: 30px;
    }
    .header__list li {
        margin-left: 24px;
    }
    .header__list li:first-child {
        margin-left: 0;
    }
    .narek__text {
        margin-left: 0;
        margin-right: 0;
    }
    .services__item {
        width: 100%;
    }
    .services__item:first-child {
        margin-right: 0;
    }
    .services__bull li {
        list-style-type: none;
    }
    input {
        width: 96%!important;
    }
    .narek__img {
        width: 70%;
    }
    .services__item {
        margin-right: 0;
    }
}


@media screen and (max-width: 414px) {


    .header__logo {
        font-size: 24px;
        letter-spacing: 3px;
    }

    .header__list {
        justify-content: center;
    }

    .header__list li {
        margin-left: 16px;
        height: 52px;
    }

    .header__list li:last-child {
        margin-left: 0;
    }

    .services__header, .narek__header, .projects__header, .contact__header {
        font-size: 22px;
        line-height: 27px;
    }
    .company__header {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 16px;
    }
    .input:first-child {
        margin-right: 0;
    }
    .gallery__img {
        width: 60%;
    }
    .laptop {
        width: 80%;
    }

    .wrapper {
        padding: 40px 14px;
    }
}

@media screen and (max-width: 383px) {
    .header__list li {
        margin-left: 15px!important;
    }
}

@media screen and (max-width: 360px) {
    .header__logo {
        font-size: 22px;
    }
    .header__list li {
        font-size: 14px;
    }
    .header__list li:first-child {
        margin-left: 0!important;
    }
    .footer__list li {
        font-size: 14px;
    }
    .wrapper {
        padding: 30px 20px;
    }
}






@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold_0.ttf);
}


@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular_0.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-Black_0.ttf);
}

@font-face {
    font-family: Lato-Semibold;
    src: url(../fonts/Lato-Semibold.ttf);
}

@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/Lato-Italic_0.ttf);
}


.particles {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.company__img {
    position: relative;
}
.company__img img {
    display: block;
    width: 100%;
    opacity: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 1000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.nav.show {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}
.nav .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.nav .lang__list {
    background: #000;
    padding: 0 5px 5px 5px;
    margin-left: -5px;
}
.nav .header__list {
    margin: 0;
}
.nav .btn-menu {
    display: none;
    width: 30px;
    height: 30px;
    color: #fff;
    background: url('../img/list.svg') 0 0 / cover no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.nav .btn-menu.open {
    background: url('../img/x.svg') 0 0 / cover no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
@media screen and (max-width: 1300px) {
    .nav .wrapper {
        padding: 12px 20px;
    }
}
@media screen and (max-width: 768px) {
    .nav .btn-menu {
        display: block;
    }
    .nav .header__list {
        position: fixed;
        top: 57px;
        left: 0;
        right: 0;
        display: none;
        background: #000;
        padding: 20px 0;
        z-index: 999;
    }
    .nav .header__list li {
        display: block;
        width: 100%;
        padding: 15px 0 15px 0;
        text-align: center;
    }
    .nav .lang__list {
        position: relative;
        bottom: 0;
        margin: 0;
    }
}