@media screen and (max-width:590px) {
	body {
		font-size: 20px
	}

	.btn  {
		max-height: 50px;
	}
	.footer-item img {
		max-width: 48px;
	}
	.footer-item {
		padding: 1% 3.5%;
	}
	.footer-item:nth-child(3){
		vertical-align: top;
		padding-top: 2%;
	}
}
@media screen and (max-width:425px) {
	body, .set td > span {
		font-size: 16px;
	}

	.footer-item img {
		max-width: 40px;
	}

}