html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}

section:after {
	content: '';
	display: block;
	clear: both;
}
ol,ul {
	margin-left: 32px;
}
img {
	vertical-align: middle;
	border: 0;
}
blockquote:before,blockquote:after,
q:before,q:after {
	content: '';
}
blockquote,q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-size: 32px;
	font-family:  'HelveticaNeue', 'Helvetica', 'Roboto', 'Open Sans', sans-serif;
	color: #000000;
}
a {
	text-decoration: none;
}

/**/

.wrapper {
	width: 100%;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	min-height: 100%;

}
.container {
	width: 100%;
	min-width: 300px;
	margin: 0 auto;
	padding-left: 4.3%;
	padding-right: 4.3%;
}
.btn {
	display: block;
	text-align: center;
	background: #9957ec;
	color: #fff;
	font-family:  'HelveticaNeue', 'Roboto', 'Open Sans', sans-serif;
	font-size: 1.31em;
	text-decoration: none;
	vertical-align: middle;
	height: 86px;
	border:0;
	box-sizing: border-box;
	max-width: 656px;
	width: 100%;
	margin: 0 auto;
}
.btn_radius {
	border-radius: 10px;
}
.btn_full {
	max-width: 100%;
}
.btn:hover {

	-webkit-filter: brightness(80%);
	filter: brightness(80%);
	box-shadow: inset 0 0 13px #000;
}
.btn:active {
	box-shadow: none;
	-webkit-filter: brightness(120%);
	filter: brightness(120%);
}

.center {
	text-align: center;
}
h1, .h1 {
    font-size: 1.12em;
	text-align: center;
	line-height: 1.2;
    font-weight: 400;
	text-transform: uppercase;
	color: #000;
}
.h1 {
	margin-bottom: 2%;
}
h1.shop-title {
	margin-top: -5%;
	line-height: 1.4;
}
h1.shop-title span {
	line-height: 2.5;
}
h1.sticer {
	font-size: 1.6em;
	text-transform: none;
}

h2 {
	font-size: 1em;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	line-height: 1.2;
	font-weight: normal;
	color: #000;
}
p {
   margin-bottom: 3%;
}
footer {
	background: #351d6b;
	/*height: 150px;*/
	color: #fff;
	position: relative;
	z-index: 5;
	font-family: 'Open Sans', sans-serif;
	min-width: 320px;
	max-width: 750px;
	margin: 0 auto;
	border-top: 2px solid #fff;
}
header {
	background: #502c8e;
}
.header {
	height: 70px;
	width: 100%;
	position: relative;
	color: #fff;
	text-align: center;
	font-weight: 400;
	line-height: 70px;
}
.header .prev {
	float: left;
}
.basket {
	float: right;
}
.cost-top {
	font-size: 1.875em;
	text-align: center;
	margin-bottom: 2%;
	display:block;
}
.cost-info {
	text-transform: uppercase;
	color: #9957ec;
	font-size: 1.12em;
	text-align: center;
	margin-bottom: 5%;
}
.cost-info-grey {
	text-transform: uppercase;
	color: #999999;
	font-size: 0.6em;
	text-align: center;
	margin-bottom: 5%;
}
.color-block-border {
	background: #eaddfb;
	border-top: 12px solid #e0e3eb;
	font-size: 0.75em;
	color: #502c8e;
	padding: 2.5% 0;
	margin-top: 5%;
}
.color-block-border_gray {
	background: #f7f7f9;
	color: #666;
	line-height: 1.6;
	margin-top: 0;
	border-top: 0;
}
.color-block-border_yell, .color-block-border_blue,
.color-block-border_brown, .color-block-border_purp,
.color-block-border_red, .color-block-border_green, .color-block-border_orange
{
	background: url("../img/bg_yell.jpg") top center;
	font-family: "Georgia", serif;
	font-size: 1.5em;
	color: #000;
	text-align: center;
	padding: 5.5% 0;

}
.color-block-border_bb {
	border-bottom: 2px solid #e0e3eb;
	margin-bottom: 6%;
	font-size: 1em;
}
.color-block-border_green {
	background: url("../img/gri.jpg") top center;
	color: #fff;
}
.color-block-border_orange {
	background: url("../img/oran.jpg") top center;
	color: #fff;
}
.color-block-border_blue {
	background: url("../img/bg_blue.jpg") top center;
	color: #fff;
}
.color-block-border_brown {
	background: url("../img/bg_brown.jpg") top center;
	color: #fff;
}
.color-block-border_purp {
	background: url("../img/bg_purp.jpg") top center;
	color: #fff;
}
.color-block-border_red {
	background: url("../img/bg_red.jpg") top center;
	color: #fff;
}
.set {
	width: 100%;
	border-bottom: 12px solid #e0e3eb;
}
.set th {
	background: #f7f7f9;
	color: #999999;
	font-size: 0.62em;
	font-weight: 400;
	text-transform: uppercase;
	vertical-align: middle;
}
.set th:first-child, .set td:first-child {
	text-align: left;
	padding: 3% 1% 3% 4.1%;
}
.set th:last-child, .set td:last-child {
	text-align: right;
	padding: 4% 4.1% 4% 1%;
}
.set td {
	text-transform: uppercase;
	font-size: 0.75em;
	vertical-align: middle;
	border-bottom: 1px solid #e0e3eb;
}
.set td > span{
	color: #666666;
	text-transform: none;
	display: block;
	font-size: 20px;
}
/*shop*/
.shop-text p {
	color: #666;
	font-size: 1em;
	padding-top: 5%;
	line-height: 1.4;
	margin-bottom: 5%;
}
.shop-text ul {
	color: #666;
}
.shop-text ul li {
	line-height: 1.4;
	margin-bottom: 2.3%;
}
.text-black-serif {
	font-family: "Georgia", serif;
	font-size: 1.12em;
	text-align: center;
	padding: 5% 0;
}

.vm {
	vertical-align: middle;
}
.img-adaptive {
    width: 100%;
    max-width: 750px;
}
.footer-item {
	display: inline-block;
	vertical-align: bottom;
	padding: 1% 4% 2% 4%;
	text-align: center;
	font-size: 0.62em;
}
.footer-item:nth-child(3){
 	padding:0;
}
.footer-item a {
	color: #fff;
}

/**/
.form-tel {
    background: #e0e3eb;
    border-left: 10px solid #9957ec;
    padding: 3%;
    margin-bottom: 3%;
}
.form-tel__title {
    color: #9957ec;
    text-transform: uppercase;
    font-size: 27px;
    margin-bottom: 2%;
}
.form-tel__text {
    font-size: 0.75em;
    margin-bottom: 3%;
}
.input-text {
	width: 60%;
	height: 65px;
	font-size: 30px;
	box-sizing: border-box;
    margin-right: 15px;
    padding: 0 2%;
    border: 2px solid #dcdcdc;
    border-radius: 10px;

}
.input-text::-webkit-input-placeholder {color:#ddd8d8;}
.input-text::-moz-placeholder          {color:#ddd8d8;}/* Firefox 19+ */
.input-text:-moz-placeholder           {color:#ddd8d8;}/* Firefox 18- */
.input-text:-ms-input-placeholder      {color:#ddd8d8;}

.social {
    color: #9957ec;
   text-transform: uppercase;
    border-top: 1px solid #ccc;
    font-size: 24px;
    font-weight: 500;
	padding: 1.7% 0;
}
.social:after {
    display: block;
    content: '';
    clear: both;
}
.social__content {
    display: table-cell;
    width: 100%;
	text-align: right;

}
.social__left {
	display: table-cell;
	vertical-align: middle;
	padding: 3% 0;
}
.social__item {
    padding: 5%;
    border-right: 1px solid #ccc;
    text-align: center;
}
.social__item:last-child {
    border: 0;
}
.social__item a {
    background: url("../img/social_sprite.png") no-repeat;
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
}
.social__item .fb {
    background-position: -74px 0;
}
.social__item .ok {
    background-position: -147px 0;
}


.container-sticer {	
	padding-top: 4.3%;
	padding-bottom: 4.3%;
	background: #e8e6ec url("../stickers/bg_sticers.jpg") no-repeat;
    display: inline-block;
}
.img-stiker {
	width: 100%;
    max-width: 750px;
}
.img-scoin {
	margin-top:-5px;
	height: 1.2em;
    width: 1.2em;	
}
.img-stiker-container {
	width: 100%;
	min-width: 300px;
	margin: 0 auto;
	padding-top: 4.3%;
	padding-bottom: 4.3%;
	padding-left: 4.3%;
	padding-right: 4.3%;
}

.container_quotes {
	position: absolute;
	width: 30px;
	top: 13px;
	left: -12px;
}

.container_quotes_right {
	position: absolute;
	width: 30px;
	bottom: 15px;
	right: 0;
	transform: rotate(-179deg);
}

.container_quotes img, .container_quotes_right img {
	width: 100%;
}

.download-link {
	display: flex;
	padding: 15px;
	border: 1px solid #000;
	color: inherit;
	font-size: 18px;
	margin: 0 auto;
	margin-bottom: 30px;
	justify-content: center;
	width: 212px;
}


.aroma {
	background: no-repeat url("../img/bg-aroma.jpg");
	width: 750px;
	margin: 0 auto;
	background-size: cover;
}
.arabica {
	background: no-repeat url("../img/bg-arabica.jpg");
	width: 750px;
	margin: 0 auto;
	background-size: cover;
}
.aroma__wrapper {
	margin: 0 auto;
}
.aroma__img {
	max-width: 60%
}

.aroma__content {
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.aroma__headers {
	margin-top: -80px;
}
.aroma__header {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}
.aroma__subtitle {
	font-size: 20px;
	margin: 30px 0;
}
.aroma__text-orange {
	font-size: 20px;
	font-weight: 600;
	color: #f06c1d;
}
.aroma__text-red {
	font-size: 20px;
	font-weight: 600;
	color: #ff2422;
}

.aroma__text{
	max-width: 400px;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 16px;
	line-height: 1.8rem;
}
.aroma__item {
	margin: 24px 0;
	font-size: 18px;
}
.aroma__items {
	margin-top: -200px;
	padding-bottom: 30px;
}
.aroma__item  span {
	color: #ff6500;
	font-weight: 600;
}

.aroma__beans {
	width: 100%;
	margin-top: -700px;
}

.arabica .aroma__item  span {
	display: inline-block;
	color: #ff2422;
	font-weight: 600;
	padding: 10px 0;
	line-height: 1.5rem;
}

.arabica__hr, .aroma__hr {
	width: 100px;
	height: 2px;
	margin: 0 auto;
	background-color: #ff2422;
	margin-top: 15px;
	margin-bottom: 15px;
}

.aroma__hr {
	background-color: #ed5e00;
}

.arabica__icon {
	padding: 20px 0;
	width: 250px;
}

.main-header {
	font-size: 24px;
	padding: 60px 20px;
	text-align: center;
}

.arabica__text {
	max-width: 400px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.8rem;
}

.arabica__footer {
	width: 100%;
	margin-top: -400px;
}

.arabica__color span{
	color: #ff0000!important;
}

.rofes {
	background: linear-gradient(93deg, #a8eb9b, #8dd77f);
	font-family: 'Montserrat', sans-serif;
}

.rofes__wrapper {
	max-width: 414px;
	margin: 0 auto;
}

.rofes__content {
	display: flex;
	flex-direction: row;
	padding: 20px 15px;
	color: #fff;
}

.rofes__left {
	width: 40%;
}

.rofes__right{
	width: 60%;
	padding: 30px 0 20px 15px;
}

.rofes__orange {
	color: #f36d2f;
	font-weight: 600;
}

.rofes__text {
	padding-top: 20px;
	line-height: 1.5rem;
}

.rofes__text,  .rofes__footer {
	text-transform: uppercase;
	font-size: 16px!important;
}

.rofes__img, .rofes__images {
	width: 100%;
}

.rofes__footer {
	padding: 24px 8px;
	text-align: center;
	color: #fff;
	line-height: 1.8rem;

}

.rofes__order {
	background-color: #fff;
	padding: 24px 15px;
}

.rofes__order-content:first-child {
	margin-bottom: 20px;

}

.rofes__order-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.3rem;

}

.rofes__order-right{
	width: 150px;
	text-align: right;
	padding-left: 10px;
	font-size: 16px;
}

.skill {
	background: linear-gradient(179.99deg, #B961CD 0.01%, #460888 99.99%);
	font-family: 'Montserrat', sans-serif;
	color: #fff
}
.skill__wrapper {
	max-width: 414px;
	margin: 0 auto;
	padding: 30px 0 30px 0;
}
.skill__logo {
	text-align: center;
}

.skill__logo img{
	width: 50px;
}
.skill__cloud-right {
	text-align: right;
}
.skill__cloud-left{
	margin-top: -30px;
}
.skill__header{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
.skill__illust img{
	width: 100%;
}
.skill__subtitle{
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.skill__text, .skill__advantages-text {
	font-size: 18px;
	line-height: 1.6rem;
}
.skill__img {
	text-align: center;
	margin-bottom: 10px;
}
.skill__img img{
	width: 70%;
}

.skill-item {
	margin-top: 60px;
}
.skill__advantages {
	margin-top:80px;
	text-align: center;
}
.skill__advantages__header {
	font-size: 24px;
	font-weight: 600;
}
.skill__advantages-item {
	margin: 30px;
}
.skill__advantages-numb {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
}
.skill__quest {
	margin: 80px 0 50px 0;
}
.skill__quest-item {
	margin: 10px 0;
	font-size: 17px;
	line-height: 1.6rem;
}
.skill__consult {
	margin: 60px 0;
}

.skill__consult .skill__subtitle, .skill__neiro .skill__subtitle {
	text-align: left;
	margin-bottom: 20px;
	color: #fff;
}
.skill__img_90 img{
	width: 90%;
}
.skill__neiro {
	margin: 60px 0;
}
.skill__icon {
	margin: 60px 0;
	text-align: center;
}
.skill__icon img{
	width: 30%;
}
.skill__tel {
	margin-top: 80px;
}
.skill__tel a{
	font-size: 28px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}
.skill__wrapp {
	padding: 0 15px;
}






@media screen and (max-width: 750px) {
	.aroma {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.arabica__footer {
		margin-top: -318px;
	}
}

@media screen and (max-width: 500px) {
	.aroma__beans {
		width: 100%;
		margin-top: -500px;
	}
	.aroma__items {
		margin-top: -150px;

	}
	.aroma__img {
		max-width: 100%;
	}
	.arabica__footer {
		margin-top: -255px;
	}
}

@media screen and (max-width: 414px) {
	.aroma__text {
		padding: 30px 20px 0 20px;
	}
	.aroma__headers {
		margin-top: -85px;
	}
	.aroma__items {
		margin-top: -100px;
	}
	.aroma__beans {
		margin-top: -464px;
	}
	.arabica__text {
		padding: 0 20px;
	}
	.arabica__footer {
		margin-top: -217px;
	}
	.aroma__item {
		padding: 0 20px;
	}
}

@media screen and (max-width: 360px) {
	.aroma__beans {
		width: 100%;
		margin-top: -406px;
	}
	.arabica__footer {
		margin-top: -217px;
	}
}
